* {
    box-sizing: border-box;
  }
body{
    background-color: rgb(209, 209, 209);
}
.mainbody{
        
    padding: 10%;
    padding-left:5%;
    border-style:none;
    margin-left: 15%;
    margin-right:15%;
    padding-top:2%;
    background-color: rgb(255, 255, 255);
    animation: fadeIn 2s;
    }

.line{
   margin:0%;
}
